<!DOCTYPE html>
<html lang="<%= global.config['lang'] %>">
	<head prefix="og: http://ogp.me/ns#">
		<%- include('./header', {title: global.translator('build.title')}) %>

		<script src="/ace/ace.js"></script>
		<style>
			@font-face {
				font-family: 'NanumCoding';
				font-weight: 400;
				src:
					url('/resources/font/nanum-coding/NanumGothicCoding-Regular.eot?#iefix') format('eot'),
					url('/resources/font/nanum-coding/NanumGothicCoding-Regular.ttf') format('truetype'),
					url('/resources/font/nanum-coding/NanumGothicCoding-Regular.woff') format('woff');
			}

			#code-editor * {
				font-family: 'NanumCoding' !important;
			}
		</style>

		<script>
			$(document).ready(function() {
				$('select').material_select();
			});
		</script>
	</head>

	<body>
		<% include ./navigation %>
		<% include ./background %>

		<section class="main-section">
			<form>
				<div class="row">
					<div class="input-field col s12">
						<label for="id"><%= global.translator('build.id') %></label>
						<input id="id" name="id" type="text">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<label for="skin"><%= global.translator('build.skin') %></label>
						<select id="skin" name="skin">
							<% skin.forEach((v) => { %>
								<option value="<%= v %>">
									<img src="/resources/image/skins/<%= v %>.svg"><%= v %>
								</option>
							<% }); %>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<label for="type"><%= global.translator('build.game') %></label>
						<select id="type" name="type">
							<% Object.keys(games).forEach((k) => {
								var v = games[k];
								if(v.getOptions()['show_to_bot_type']){ %>
									<option value="<%= v.getName() %>">
										<%= v.getReadableName() %>
									</option>
								<% } %>
							<% }); %>
						</select>
					</div>
				</div>

				<div class="row">
					<h3><%= global.translator('build.edit') %></h3>
					<a class="btn waves-effect waves-light" href="javascript:openAPI()">
						<%= global.translator('build.api') %>
					</a>

					<div id="code-editor">

					</div>
				</div>

				<textarea id="code" name="code" style="display: none"></textarea>
			</form>

			<script>
				var codeArea = $('#code');
				var editor = ace.edit('code-editor');
				editor.setTheme('ace/theme/monokai');
				editor.getSession().setMode('ace/mode/javascript');
				editor.setAutoScrollEditorIntoView(true);
				editor.setOption("maxLines", 100);
				editor.setOption("minLines", 30);
				editor.getSession().on('change', function(){
					codeArea.val(editor.getSession().getValue());
				});
			</script>
		</section>

		<% include ./footer %>
	</body>
</html>
