<!DOCTYPE html>
<html lang="<%= global.config['lang'] %>">
	<head prefix="og: http://ogp.me/ns#">
		<%- include('./header', {title: global.translator('build.title')}) %>

		<script src="/ace/ace.js"></script>
		<style>
			@font-face {
				font-family: 'NanumCoding';
				font-weight: 400;
				src:
					url('/resources/font/nanum-coding/NanumGothicCoding-Regular.eot?#iefix') format('eot'),
					url('/resources/font/nanum-coding/NanumGothicCoding-Regular.ttf') format('truetype'),
					url('/resources/font/nanum-coding/NanumGothicCoding-Regular.woff') format('woff');
			}

			#code-editor * {
				font-family: 'NanumCoding' !important;
			}
		</style>

		<script src="/resources/js/jquery.validate.min.js"></script>

		<script>
			$.validator.setDefaults({
				errorClass: 'invalid',
				validClass: "valid",

				errorPlacement: function (error, element){
					$(element)
						.closest("form")
						.find("label[for='" + element.attr("id") + "']")
						.text(error.text());
				}
			});

			$.validator.addMethod("regex", function(value, element){
				return (/^[A-Za-z0-9가-힣ㄱ-ㅎ-+_() ]{3,20}$/).test(value);
			}, "<%= global.translator('validate.regex') %>");

			var modalHeader = undefined;
			var modalContent = undefined;
			var type = undefined;

			$(document).ready(function(){
				$('select').material_select();
				$('form').validate({
					rules: {
						name: {
							required : true,
							minlength: 3,
							regex: true
						}
					},

					messages : {
						name: {
							required: '<%= global.translator('validate.required') %>',
							minlength: '<%= global.translator('validate.minlength') %>',
						}
					}
				});

				modalHeader = $('#api-modal-header');
				modalContent = $('#api-modal-content');
				type = $('#type');

				$('.modal-trigger').leanModal();
			});

			function openAPI(){
				$.ajax('/api/' + type.val()).done(function(apiData){
					console.log(apiData);
					modalHeader.empty().html(apiData.title);
					modalContent.empty();

					(apiData.content || []).forEach(function(v){
						modalContent
							.append($(document.createElement('h4')).html(v.title))
							.append($(document.createElement('p4')).html(v.content));
					});
				});
			}

		</script>

	</head>

	<body>
		<% include ./navigation %>
		<% include ./background %>

		<section class="main-section">
			<form method="post">
				<% if(typeof token !== 'undefined'){ %>
					<input name="token" type="hidden" value="<%- token %>">
				<% } %>

				<div class="row">
					<div class="input-field col s12">
						<label for="name"><%= global.translator('build.name') %></label>
						<input id="name" name="name" type="text">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<label for="skin"><%= global.translator('build.skin') %></label>
						<select id="skin" name="skin">
							<% skin.forEach((v) => { %>
								<option value="<%= v %>" data-icon="/resources/image/skins/<%= v %>.svg" class="left">
									<%= global.translator('shop.item.skins.' + v) %>
								</option>
							<% }); %>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<label for="type"><%= global.translator('build.game') %></label>
						<select id="type" name="type">
							<% Object.keys(games).forEach((k) => {
								var v = games[k];
								if(v.getOptions()['show_to_bot_type']){ %>
									<option value="<%= v.getName() %>">
										<%= v.getReadableName() %>
									</option>
								<% } %>
							<% }); %>
						</select>
					</div>
				</div>

				<div class="row">
					<h3><%= global.translator('build.edit') %></h3>
					<a class="btn waves-effect waves-light modal-trigger" href="#api-modal" onclick="openAPI()">
						<%= global.translator('build.api') %>
					</a>

					<div id="code-editor">

					</div>
				</div>

				<textarea id="code" name="code" style="display: none"></textarea>

				<button class="btn waves-effect waves-light" type="submit"><%= global.translator('build.create') %></button>
			</form>

			<% if(typeof bot !== 'undefined'){ %>
				<div id="bot-code" style="display: none">
					<%- bot.code %>
				</div>
			<% } %>

			<script>
				var codeArea = $('#code');
				var editor = ace.edit('code-editor');
				editor.setTheme('ace/theme/monokai');
				editor.getSession().setMode('ace/mode/javascript');
				editor.setAutoScrollEditorIntoView(true);
				editor.setOption("maxLines", 100);
				editor.setOption("minLines", 30);
				editor.getSession().on('change', function(){
					codeArea.val(editor.getSession().getValue());
				});
				editor.setValue('', -1);

				<% if(typeof bot !== 'undefined'){ %>
					$('#name').val('<%= bot.name %>');
					$('#skin').val('<%= bot.skin %>');
					$('#type').val('<%= bot.type %>');

					editor.setValue($('#bot-code').html(), -1);
				<% } %>
			</script>
		</section>

		<% include ./footer %>

		<div id="api-modal" class="modal bottom-sheet">
			<div class="modal-content">
				<h3 id="api-modal-header"></h3>
				<p id="api-modal-content"></p>
			</div>
		</div>
	</body>
</html>
