<!DOCTYPE html>
<html lang="<%= global.config['lang'] %>">
	<head prefix="og: http://ogp.me/ns#">
		<%- include('./header', {title: global.translator('entry.title')}) %>
		<style>
			.entry {
				width: 100%;
				height: 480px;
				line-height: 480px;
			}

			.entry-wrapper {
				display: table-cell;
				height: 500px;
			}

			.entry-section, .entry-wrapper {
				padding: 10px;
			}

			.main-entry {
				display: table;
				width: 100%;
			}

			.main-section {
				overflow-x: hidden;
			}

			.main-section:hover {
				overflow-x: auto;
			}
		</style>
	</head>

	<body>
		<% include ./navigation %>
		<% include ./background %>

		<section class="main-section entry-section">
			<div class="main-entry">
				<% var entryCount = 0; %>
				<% global.entryList.forEach((v) => { %>
					<% if(!v.checkPlayer(user)) return; %>
					<% entryCount++ %>
					<div class="entry-wrapper">
						<a href="<%= v.href %>" class="btn <%= v.className || '' %> entry waves-effect waves-light">
							<%= v.name %>
						</a>
					</div>
				<% }); %>
			</div>

			<% if(entryCount === 0){ %>
				<div class="valign-wrapper" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;">
					<div class="valign center" style="width: 100%;">
						<h3><%= global.translator('entry.nothing') %></h3>
						<p><%= global.translator('entry.nothing.masthead') %></p>
					</div>
				</div>
			<% } %>
		</section>

		<% include ./footer %>
	</body>
</html>
