<!DOCTYPE html>
<html lang="<%= global.config.lang %>">
	<head>
		<%- include('./header', {title: global.translator('missing.title')}); %>
	</head>

	<body>
		<% include ./navigation %>
		<% include ./background %>

		<section class="main-section">
			<h3><%= global.translator('missing.id.title') %></h3>
			<form method="post" action="/find/id/" class="col s12 m6 offset-m3">
				<div class="row">
					<div class="input-field col s12">
						<label for="email"><%= global.translator('missing.email') %></label>
						<input id="email" name="email" type="text">
					</div>
				</div>

				<div class="row">
					<div class="col s12">
						<button class="btn waves-effect waves-lignt" type="submit">
							<%= global.translator('missing.id.submit') %>
							<i class="fa fa-sign-in right"></i>
						</button>
					</div>
				</div>
			</form>

			<h3><%= global.translator('missing.pw.title') %></h3>
			<form method="post" action="/find/password/" class="col s12 m6 offset-m3">
				<div class="row">
					<div class="input-field col s12">
						<label for="id"><%= global.translator('missing.id') %></label>
						<input id="id" name="id" type="text">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<label for="email"><%= global.translator('missing.email') %></label>
						<input id="email" name="email" type="text">
					</div>
				</div>

				<div class="row">
					<div class="col s12">
						<button class="btn waves-effect waves-lignt" type="submit">
							<%= global.translator('missing.pw.submit') %>
							<i class="fa fa-sign-in right"></i>
						</button>
					</div>
				</div>
			</form>
		</section>

		<% include ./footer %>
	</body>
</html>
