<% function drawUserDropdown(activator){ %>
	<% if(auth){ %>
		<a class="dropdown-button" href="#!" data-activates="<%= activator %>">
			<img src="//www.gravatar.com/avatar/<%= emailHash %>?s=50" alt="" class="user-icon circle">
			<span class="user-name"><%= user.nickname %></span>
		</a>
	<% }else{ %>
		<a href="/login">
			<i class="user-icon fa fa-user"></i>
			<span class="user-name"><%= global.translator('login.title') %></span>
		</a>
	<% } %>
<% } %>

<% function createUserDropdown(elementId){ %>
	<ul id="<%= elementId %>" class="dropdown-content">
		<li><a href="/me"><%= global.translator('me.title') %></a></li>
		<li><a href="/logout"><%= global.translator('logout.title') %></a></li>
	</ul>
<% }; %>

<% if(auth){
	createUserDropdown("user-dropdown");
	createUserDropdown("user-dropdown-mobile");
} %>

<% function createNavigationDropdown(id){ %>

	<ul id="<%= id %>" class="dropdown-content">
		<li>
			<a href="/shop"><%= global.translator('shop.title') %></a>
		</li>
	
		<li>
			<a href="/build"><%= global.translator('build.title') %></a>
		</li>
	
		<li>
			<a href="/about"><%= global.translator('about.title') %></a>
		</li>
	
		<li>
			<a href="/tutorial"><%= global.translator('tutorial.title') %></a>
		</li>
	
		<li>
			<span class="clock"></span>
		</li>
	</ul>
<% } %>

<%
	createNavigationDropdown('navigation-dropdown');
	createNavigationDropdown('navigation-dropdown-mobile');
%>

<nav style="background-color: <%= global.theme['background-3'] %>">
	<div class="nav-wrapper">
		<div class="brand-logo left-tri-wrapper bg0">
			<a class="brand-logo left-tri bg0" href="/">
				<%= global.config['title'] %>
			</a>
		</div>

		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="fa fa-bars"></i></a>

		<ul class="right hide-on-med-and-down">
			<li class="left-tri-wrapper bg2" style="left: 300px">
				<a class="left-tri bg2" href="/battle/entry">
					<%= global.translator('entry.title') %>
				</a>
			</li>

			<li class="left-tri-wrapper bg3" style="left: 500px">
				<a class="left-tri bg3 dropdown-button" href="#!" data-activates="navigation-dropdown">
					<%= global.translator('navigation.dropdown') %>
				</a>
			</li>


			<li class="left-tri-wrapper bg4" style="left: 700px">
				<div class="left-tri bg4">
					<% drawUserDropdown("user-dropdown") %>
				</div>
			</li>

		</ul>

		<ul class="side-nav" id="nav-mobile">
			<li>
				<% drawUserDropdown("user-dropdown-mobile") %>
			</li>
			
			<li>
				<a class="dropdown-button" href="#!" data-activates="navigation-dropdown">
					<%= global.translator('navigation.dropdown') %>
				</a>
			</li>
		</ul>
	</div>
</nav>

<style>
	.left-tri {
		width: 100vw;
	}

	<% for(var i = 0; i <= 4; i++){ %>
		.bg<%= i %>{
			background: <%= global.theme['background-' + i] %>;
			<% if(i == 2){ %>
				color: <%= global.theme['foreground-1'] %>;
			<% } %>
		}

		.left-tri-wrapper.bg<%= i %>:before {
			background: url('/image/navigation-tri/<%= global.theme['background-' + i].replace('#', '') %>');
		}
	<% } %>

	.left-tri-wrapper{
		position: absolute;
	}

	.left-tri-wrapper:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: -30px;
		width: 30px;
		height: 64px;
	}

	.user-dropdown {
		z-index: 72;
	}
</style>

<script>
	var clock = $('.clock');

	function updateClock(){
		var date = new Date();
		clock.text(date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds());
		setTimeout(updateClock, 500);
	}

	updateClock();
</script>
