<!DOCTYPE html>
<html lang="<%= global.config.lang %>">
	<head>
		<%- include('./header', {title: global.translator('missing.pw.reset.title')); %>
		<script>
			$(".pw-validate-form").validate({
				rules: {
					password: {
						required: true,
						minlength: 7
					},

					"password-check": {
						required: true,
						equalTo: password
					}
				},

				messages : {
					password: {
						required: '<%= global.translation['validate-required'] %>',
						minlength: '<%= global.translation['validate-minlength'] %>',
					},

					"password-check": {
						required: '<%= global.translation['validate-required'] %>',
						equalTo: '<%= global.translation['validate-equal-to'] %>'
					}
				}
			});
		</script>

		<script src="/resources/js/jsencrypt.min.js"></script>
		<script>
			var encrypt = new JSEncrypt();
			encrypt.setPublicKey("<%= rsa.replace(/\n/g, '\\n') %>");

			function encryptPw(){
				if(!$('.pw-validate-form').valid()) return false;
				if($('#password').val() !== $('#password-check').val()) return false;

				$('#encrypted-password').val(encrypt.encrypt($('#password').val()));
				$('#encrypted-password-check').val($('#encrypted-password').val());
				return true;
			}
		</script>
	</head>

	<body>
		<% include ./navigation %>
		<% include ./background %>
		<section>
			<h3><%= global.translator('missing.pw.reset.title') %></h3>
			<form class="pw-validate-form" onsubmit="return false">
				<div class="row">
					<div class="input-field col s12">
						<label for="password"><%= global.translator('missing.pw.reset.pw') %></label>
						<input id="password" name="password" type="password">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<label for="password"><%= global.translator('missing.pw.reset.check') %></label>
						<input id="password-check" name="password-check" type="password">
					</div>
				</div>
			</form>

			<form method="post" onsubmit="encryptPw()">
				<input id="encrypt-password" name="password" type="hidden">
				<input id="encrypted-password-check" name="password-check" type="hidden">

				<div class="row">
					<div class="col s12">
						<button class="btn waves-effect waves-lignt" type="submit">
							<%= global.translator('missing.pw.reset.submit') %>
							<span class="fa fa-key right"></span>
						</button>
					</div>
				</div>
			</form>
		</section>

		<% include ./footer %>
	</body>
</html>
