<!DOCTYPE html>
<html lang="<%= global.config.lang %>">
	<head prefix="og: http://ogp.me/ns#">
		<%- include('./header', {title: global.translator('join.title')}); %>
		<%- include('./validator', {no_remote: false}); %>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>

		<script src="/resources/js/jsencrypt.min.js"></script>
		<script>
			var encrypt = new JSEncrypt();
			encrypt.setPublicKey("<%= rsa.replace(/\n/g, '\\n') %>");

			function encryptPw(){
				if(!$('.validate-form').valid()) return false;
				if($('#password').val() !== $('#password-check').val()) return false;

				$('#new-id').val($('#id').val());
				$('#new-name').val($('#name').val());
				$('#new-email').val($('#email').val());
				$('#encrypted-password').val(encrypt.encrypt($('#password').val()));
				$('#encrypted-password-check').val($('#encrypted-password').val());
				return true;
			}
		</script>
	</head>

	<body>
		<% include ./navigation %>
		<% include ./background %>

		<section class="main-section">
			<h3><%= global.translator('join.title') %></h3>
			<div class="grey lighten-3"><%- global.translator('join.confirm') %></div>
			<form class="validate-form" novalidate="novalidate" onsubmit="$('.submit-form').submit(); return false;">
				<div class="row">
					<div class="input-field col s12">
						<label for="id"><%= global.translator('join.id') %></label>
						<input id="id" name="id" type="text">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<label for="name"><%= global.translator('join.name') %></label>
						<input id="name" name="name" type="text">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<label for="email"><%= global.translator('join.email') %></label>
						<input id="email" name="email" type="email">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<label for="password"><%= global.translator('join.password') %></label>
						<input id="password" name="password" type="password">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<label for="password-check"><%= global.translator('join.password.check') %></label>
						<input id="password-check" name="password-check" type="password">
					</div>
				</div>

				<input type="submit" style="display: none" aria-hidden="true">
			</form>

			<form method="post" novalidate="novalidate" class="submit-form" onsubmit="return encryptPw()">
				<input id="new-id" name="id" type="hidden">
				<input id="new-name" name="name" type="hidden">
				<input id="new-email" name="email" type="hidden">
				<input id="encrypted-password" name="password" type="hidden">
				<input id="encrypted-password-check" name="password-check" type="hidden">

				<div class="g-recaptcha" data-sitekey="<%= global.config['recaptcha-public'] %>">

				</div>

				<br>

				<div class="row">
					<div class="col s12">
						<button class="btn waves-effect waves-lignt" type="submit">
							<%= global.translator('join.submit') %>
							<i class="fa fa-user-plus right"></i>
						</button>
					</div>
				</div>
			</form>

		</section>

		<% include ./footer %>
	</body>
</html>
