<!DOCTYPE html>
<html lang="<%= global.config.lang %>">
	<head prefix="og: http://ogp.me/ns#">
		<%- include('./header', {title: global.translator('shop.title')}); %>
	</head>

	<body>
		<%- include ./navigation %>
		<%- include ./background %>

		<section class="main-section">
			
		</section>

		<%- include ./footer %>
	</body>
</html>
