<!DOCTYPE html>
<html lang="<%= global.config.lang %>">
	<head prefix="og: http://ogp.me/ns#">
		<%- include('./header', {title: global.translator('index.title')}); %>

		<script src="resources/js/jquery.particleground.min.js"></script>
		<script>
			$(document).ready(function(){
				$('section').particleground({
					dotColor: '<%= global.theme['splash-dot'] %>',
					lineColor: '<%= global.theme['splash-line'] %>',
					density: <%= global.theme['splash-density'] %>,
				});
			});
		</script>

		<style>
			@keyframes blink {
				50% {
					opacity: 0.5;
				}
			}

			.splash, .splash-wrapper {
				width: 100vw;
				height: 100vh;
				position: absolute;
				left: 0;
				top: 0;
			}

			.splash {
				background-color: <%= global.theme['background-0'] %>;
				z-index: 1;
			}

			.splash-wrapper {
				display: table;
				z-index: 2;
			}

			.splash-inner-wrapper {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}

			.splash-content {
				width: 100vw;
				color: <%= global.theme['foreground-0'] %>;
			}

			.splash-content p {
				position: relative;
				bottom: 0;
			}

			.splash-version{
				position: fixed;
				right: 30px;
				bottom: 30px;
				z-index: 4;
				color: #FFFFFF;
				display: block;
			}

			.commit{
				overflow-x: auto;
				overflow-y: hidden;
				white-space: nowrap;
			}
		</style>
	</head>

	<body>
		<section class="splash">
			<a class="splash-wrapper" href="/login">
				<div class="splash-inner-wrapper">
					<div class="splash-content">
						<h1><%= global.translator('index.motd') %></h1>
						<p style="animation: blink 2s linear infinite"><%= global.translator('index.continue') %></p>
					</div>
				</div>
			</a>

			<a class="splash-version button-collapse" data-activates="history" href="#">
				<%= global.version %>
				<br>
				<%= hash %>
			</a>
		</section>
		<div id="history" class="side-nav">
			<ul>
				<% log.forEach((v) => { %>
					<li>
						<a href="https://github.com/HelloWorld017/overrun-online/commit/<%= v[0] %>" target="_blank" class="commit">
							<%= v[1] %>
						</a>
					</li>
				<% }); %>
				<li>
					<a href="https://github.com/HelloWorld017/overrun-online/">
						<i class="fa fa-github"></i>
					</a>
				</li>
			</ul>
		</div>
	</body>
</html>
