<!DOCTYPE html>
<html lang="<%= global.config.lang %>">
	<head prefix="og: http://ogp.me/ns#">
		<%- include('./header', {title: global.translator('update.pw.title')}); %>
		<script src="/resources/js/jquery.validate.min.js"></script>
		<script>
			$.validator.setDefaults({
				errorClass: 'invalid',
				validClass: "valid",

				errorPlacement: function (error, element){
					$(element)
						.closest("form")
						.find("label[for='" + element.attr("id") + "']")
						.text(error.text());
				}
			});

			$(document).ready(function(){
				$(".pw-validate-form").validate({
					rules: {
						original: {
							required: true
						},

						password: {
							required: true,
							minlength: 7
						},

						"password-check": {
							required: true,
							equalTo: password
						}
					},

					messages : {
						password: {
							required: '<%= global.translator('validate.required') %>',
							minlength: '<%= global.translator('validate.minlength') %>',
						},

						"password-check": {
							required: '<%= global.translator('validate.required') %>',
							equalTo: '<%= global.translator('validate.equal.to') %>'
						}
					}
				});
			});
		</script>

		<script src="/resources/js/jsencrypt.min.js"></script>
		<script>
			var encrypt = new JSEncrypt();
			encrypt.setPublicKey("<%= rsa.replace(/\n/g, '\\n') %>");

			function encryptPw(){
				if(!$('.pw-validate-form').valid()) return false;
				if($('#password').val() !== $('#password-check').val()) return false;

				$('#encrypted-original').val(encrypt.encrypt($('#original').val()));
				$('#encrypted-password').val(encrypt.encrypt($('#password').val()));
				$('#encrypted-password-check').val($('#encrypted-password').val());
				return true;
			}
		</script>
	</head>

	<body>
		<% include ./navigation %>
		<% include ./background %>

		<section class="main-section">
			<h3><%= global.translator('update.pw.title') %></h3>
			<form class="pw-validate-form" onsubmit="$('.submit-form').submit(); return false;">
				<div class="row">
					<div class="input-field col s12">
						<label for="original"><%= global.translator('update.pw.original') %></label>
						<input id="original" name="original" type="password">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<label for="password"><%= global.translator('update.pw.password') %></label>
						<input id="password" name="password" type="password">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<label for="password-check"><%= global.translator('update.pw.password.check') %></label>
						<input id="password-check" name="password-check" type="password">
					</div>
				</div>

				<input type="submit" style="display: none" aria-hidden="true">
			</form>

			<form class="submit-form" method="post" onsubmit="return encryptPw()">
				<input id="encrypted-original" name="original" type="hidden">
				<input id="encrypted-password" name="newPw" type="hidden">
				<input id="encrypted-password-check" name="newPw-check" type="hidden">

				<div class="row">
					<div class="col s12">
						<button class="btn waves-effect waves-lignt" type="submit">
							<%= global.translator('update.pw.submit') %>
							<i class="fa fa-key right"></i>
						</button>
					</div>
				</div>
			</form>
		</section>

		<% include ./footer %>
	</body>
</html>
