<!DOCTYPE html>
<html lang="<%= global.config.lang %>">
	<head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
		<%- include('./header', {title: user.getName(), no_ogp: true}); %>
		<meta property="og:title" content="user.getName()">
		<meta property="og:site_name" content="<%= global.config['title'] %>">
		<meta property="og:type" content="profile">
		<meta property="og:url" content="<%= url %>">
		<meta property="og:image" content="https://www.gravatar.com/avatar/<%= user.getHashedEmail() %>/?s=512">
		<meta property="profile:username" content="<%= user.getName() %>">

		<script>
			var friendBtn = undefined;

			$(document).ready(function(){
				friendBtn = $('#friend-btn');
			});

			function addFriend(name){
				$.ajax('/friends/add/<%= user.getName() %>').always(function(){
					friendBtn.attr('href', 'javascript:removeFriend("' + name + '")');
					friendBtn.children('i').attr('class', 'fa fa-user-times');
					friendBtn.children('span').text('<%= global.translator('friends.remove') %>');
				});
			}

			function removeFriend(name){
				$.ajax('/friends/remove/<%= user.getName() %>').always(function(){
					friendBtn.attr('href', 'javascript:addFriend("' + name + '")');
					friendBtn.children('i').attr('class', 'fa fa-user-plus');
					friendBtn.children('span').text('<%= global.translator('friends.add') %>');
				});
			}
		</script>
	</head>

	<body>
		<% include ./navigation %>
		<% include ./background %>

		<section class="main-section">
			<div class="row">
				<div class="col s12 m7">
					<div class="card">
						<div class="card-image">
							<img src="//www.gravatar.com/avatar/<%= user.getHashedEmail() %>/?s=512">
							<span class="card-title" style="background-color: rgba(0, 0, 0, 0.5); font-size: 2rem;">
								<%= user.nickname %>
								<% if(user.github !== ""){ %>
									<a href="https://github.com/<%= user.github %>"><i class="fa fa-github"></i></a>
								<% } %>
							</span>
						</div>
					</div>
				</div>
			</div>

			<% if(auth){ %>
				<% if(user.getName() === localUser.getName()){ %>
					<a class="btn waves-effect waves-lignt" href="/me/update"><i class="fa fa-pencil"></i><%= global.translator('update.title') %></a>
				<% }else{ %>
					<% if(localUser.friends.indexOf(user.getName()) === -1){ %>
						<a id="friend-btn" class="btn waves-effect waves-light" href="javascript:addFriend('<%= user.getName() %>')"><i class="fa fa-user-plus"></i><span><%= global.translator('friends.add') %></span></a>
					<% }else{ %>
						<a id="friend-btn" class="btn waves-effect waves-light" href="javascript:removeFriend('<%= user.getName() %>')"><i class="fa fa-user-times"></i><span><%= global.translator('friends.remove') %></span></a>
					<% } %>
				<% } %>
			<% } %>

			<h4><%= global.translator('user.bots') %></h4>
			<%- include('./user/bot-list', {
				bots: user.bots
			}); %>

			<h4><%= global.translator('user.skins') %></h4>
			<%- include('./user/skin-list', {
				skins: user.skins
			}); %>

			<h4><%= global.translator('user.status') %></h4>
			<%- include('./user/status', {
				status: user.status
			}); %>

		</section>

		<% include ./footer %>
	</body>
</html>
