<section style="padding: 10px; font-family: '나눔바른고딕', 'NanumBarunGothic', '나눔고딕', 'NanumGothic', 'InterparkGothic', '인터파크고딕', 'Open Sans', '함초롬돋움', '서울남산체', 'Noto Sans Korean', '본고딕', 'Apple SD Gothic Neo', 'KoPubDotum Medium', '맑은고딕', 'Malgun Gothic', arial, sans-serif !important;">
	<header style="font-size: 2rem; font-weight: bold; border-bottom: 5px solid <%= global.theme['background-0'] %>;">
		<%= global.translator('email.verify.title') %>
	</header>
	
		<p style="font-size: 1rem">
			<%= global.translator('email.verify.masthead') %>
		</p>
		
		<p style="font-size: 0.7rem">
			<%= global.translator('email.verify.desc') %>
		</p>
		
		<a style="display: block; max-width: 128px; margin: 50px auto; background: <%= global.theme['background-0'] %>; color: <%= global.theme['foreground-0'] %>;" href="<%= global.config.url %>/authenticate/<%= authToken %>">
			<%= global.translator('email.verify.link') %>
		</a>
</section>
