<!DOCTYPE html>
<html lang="<%= global.config.lang %>">
	<head prefix="og: http://ogp.me/ns#">
		<%- include('../views/header', {title: global.translator('plugin.overrun.entry.title')}) %>
		<script>
			var section = undefined;

			$(document).ready(function(){
				section = $('.main-section');
			});

			function entry(gameName){
				section.empty().append($(document.createElement('img')).attr('src', '/resources/image/loading.svg').addClass('valign loading-image'));
				$.ajax('/battle/entry/' + gameName + '/<%= bot %>/').done(function(data){
					window.location.href = '/battle/results/' + data.log;
				});
			}
		</script>
		<style>
			.entry {
				width: 100%;
				height: 480px;
				line-height: 480px;
			}

			.entry-wrapper {
				display: table-cell;
				height: 500px;
			}

			.entry-section, .entry-wrapper {
				padding: 10px;
			}

			.main-entry {
				display: table;
				width: 100%;
			}

			.main-section {
				overflow-x: hidden;
			}

			.main-section:hover {
				overflow-x: auto;
			}
		</style>
	</head>

	<body>
		<% include ../views/navigation %>
		<% include ../views/background %>

		<section class="main-section entry-section valign-wrapper">
			<div class="main-entry">
				<div class="entry-wrapper">
					<a class="btn entry waves-effect waves-light" href="javascript:entry('OVERRUN-RANKED')">
						<%= global.translator('plugin.overrun.entry.ranked') %>
					</a>
				</div>

				<div class="entry-wrapper">
					<a class="btn entry waves-effect waves-light" href="/entry/overrun/unranked">
						<%= global.translator('plugin.overrun.entry.unranked') %>
					</a>
				</div>
			</div>
		</section>

		<% include ../views/footer %>
	</body>
</html>
